.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.calendar {
    margin:.25em 10px 10px 0;
    padding-top:5px;
    float:left;
    width:80px;
    background:#ededef;
    background:-webkit-gradient(linear,left top,left bottom,from(#ededef),to(#ccc));
    background:-moz-linear-gradient(top,#ededef,#ccc);
    font:bold 30px/60px Arial Black,Arial,Helvetica,sans-serif;
    text-align:center;
    color:#000;
    text-shadow:#fff 0 1px 0;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    position:relative;
    -moz-box-shadow:0 2px 2px #888;
    -webkit-box-shadow:0 2px 2px #888;
    box-shadow:0 2px 2px #888
    }
    
    .calendar em {
    display:block;
    font:normal bold 11px/30px Arial,Helvetica,sans-serif;
    color:#fff;
    text-shadow:#00365a 0 -1px 0;
    background:#04599a;
    /* background:-webkit-gradient(linear,left top,left bottom,from(#04599a),to(#00365a));
    background:-moz-linear-gradient(top,#04599a,#00365a); */
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top:1px solid #00365a
    }
    
    .calendar:before,.calendar:after {
    content:'';
    float:left;
    position:absolute;
    top:5px;
    width:8px;
    height:8px;
    background:#111;
    z-index:1;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    -moz-box-shadow:0 1px 1px #fff;
    -webkit-box-shadow:0 1px 1px #fff;
    box-shadow:0 1px 1px #fff
    }
    
    .calendar:before {
    left:11px
    }
    
    .calendar:after {
    right:11px
    }
    
    .calendar em:before,.calendar em:after {
    content:'';
    float:left;
    position:absolute;
    top:-5px;
    width:4px;
    height:14px;
    background:#dadada;
    background:-webkit-gradient(linear,left top,left bottom,from(#f1f1f1),to(#aaa));
    background:-moz-linear-gradient(top,#f1f1f1,#aaa);
    z-index:2;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px
    }
    
    .calendar em:before {
    left:13px
    }
    
    .calendar em:after {
    right:13px
    }


    .twPc-div {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #e1e8ed;
        border-radius: 6px;
        /* height: 200px; */
        width: 100%;
    }
    .twPc-bg {
        background: rgb(30,87,153); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

        background-position: 0 50%;
        background-size: 100% auto;
        border-bottom: 1px solid #e1e8ed;
        border-radius: 4px 4px 0 0;
        height: 200px;
        width: 100%;
    }
    .twPc-block {
        display: block !important;
    }
    .twPc-button {
        margin: -35px -10px 0;
        text-align: right;
        width: 100%;
    }
    .twPc-avatarLink {
        background-color: #fff;
        border-radius: 6px;
        display: inline-block !important;
        float: left;
        margin: -30px 5px 0 8px;
        max-width: 100%;
        padding: 1px;
        vertical-align: bottom;
    }
    .twPc-avatarImg {
        border: 2px solid #fff;
        border-radius: 7px;
        box-sizing: border-box;
        color: #fff;
        height: 72px;
        width: 72px;
    }
    .twPc-divUser {
        margin: 5px 0 0;
    }
    .twPc-divName {
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
    }
    .twPc-divName a {
        color: inherit !important;
    }
    .twPc-divStats {
        margin-left: 11px;
        padding: 10px 0;
    }
    .twPc-Arrange {
        box-sizing: border-box;
        display: table;
        margin: 0;
        min-width: 100%;
        padding: 0;
        table-layout: auto;
    }
    ul.twPc-Arrange {
        list-style: outside none none;
        margin: 0;
        padding: 0;
    }
    .twPc-ArrangeSizeFit {
        display: table-cell;
        padding: 0;
        vertical-align: top;
    }
    .twPc-ArrangeSizeFit a:hover {
        text-decoration: none;
    }
    .twPc-StatValue {
        display: block;
        font-size: 18px;
        font-weight: 500;
        transition: color 0.15s ease-in-out 0s;
    }
    .twPc-StatLabel {
        color: #8899a6;
        font-size: 10px;
        letter-spacing: 0.02em;
        overflow: hidden;
        text-transform: uppercase;
        transition: color 0.15s ease-in-out 0s;
    }
    